# Python virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment / secrets
.env
.env.*

# Logs
*.log

# OS/editor files
.DS_Store
.vscode/
.idea/

# Evaluation generated results and pdf reports
evaluation/results/
*.pdf
evaluation/pdf_reports/
pdf_reports/
pdf_reports.zip
